body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffc017;
  border-bottom: 1px solid #000;
  z-index: 1000;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.nav-links .btn {
  background: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}

/* HERO SECTION */
.hero {
  background-color: #ffc017;
  padding-top: 80px;
  padding-bottom: 0;
  border-bottom: 1px solid #000;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  height: 100%;
}

.hero-text h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 500px;
}

.hero-text .btn {
  background: #000;
  color: #fff;
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 16px;
  display: inline-block;
}

.hero-image {
  width: auto;
  height: 100%;
}

/* TRENDING */
.trending {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px 40px;
  border-bottom: 1px solid #e6e6e6;
}

.trending-item img {
  display: inline-block;
}

.trending-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.trending-item {
  display: flex;
  gap: 16px;
  width: calc(33.333% - 20px);
}

.trend-number {
  font-size: 30px;
  color: #e6e6e6;
  font-weight: bold;
}

.trend-content h3 {
  font-size: 14px;
  margin-bottom: 4px;
}

.trend-content p {
  font-size: 13px;
  color: #555;
}

/* MAIN */
main {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
  display: flex;
  gap: 40px;
}

.articles {
  flex: 3;
}

.article {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.article-text h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.article-text p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.article-meta {
  font-size: 12px;
  color: #777;
}

.article-image {
  width: 200px;
  height: 130px;
  background: #eee;
  flex-shrink: 0;
}

aside {
  flex: 1;
}

aside p {
  margin: 2rem 0rem;
}
aside h3 {
  font-size: 12px;
  font-weight: 900;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 40px;
}

.tag {
  padding: 6px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  font-size: 13px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 12px;
  color: #777;
  list-style: none;
}
